.drop-zone {
  min-height: 200px;
  border: 1px solid #616161;
  border-radius: 3px;
  border-style: dashed;
  padding: 1em;
}

.steps {
  width: 100%;
  max-width: 700px;
  margin: auto;
  padding-bottom: 75px;
  .content {
    margin: 0 16px;
    overflow: hidden;
  }
}
