html, body, #root {
  height: 100%;
  .main {
    min-height: 100%;
    position: relative;
    >h2 {
      text-align: center;
      width: 100%;
    }
  }
}

p {
  padding: 1em;
}

.center {
  text-align: center;
}
